@import '../definitions';
@import '../common/utils';


$form-item-line-height: 40px;
$form-label-width: 80px;
$form-label-font-align: right;
$form-label-font-size: 14px;
$form-body-font-size: $form-label-font-size;
$form-body-margin-left: $form-label-width;
$form-label-required-color: #f56c6c;


// form styles
.h-form {

  // form-item label
  &__item__label {
    width: $form-label-width;
    text-align: $form-label-font-align;
    vertical-align: middle;
    float: left;
    font-size: $form-label-font-size;
    color: $text-color;
    line-height: $form-item-line-height;
    padding: 0 12px 0 0;
    box-sizing: border-box;
  }
  // label in left
  &--label-left &__item__label {
    text-align: left;
  }
  // label in right
  &--label-right &__item__label {
    text-align: right;
  }
  // label in top
  &--label-top &__item__label {
    float: none;
    display: inline-block;
    padding: 0 0 10px 0;
    width: auto !important;
    line-height: 1 !important;
  }
  &--label-top &__item__body {
    margin-left: 0 !important;
  }

  // inline-form
  &--inline &__item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }

  // form-item
  &__item {
    @include clear-fix;

    margin-bottom: 24px;
    vertical-align: top;

    // form-item-required
    &--required &__label:before {
      content: '*';
      display: inline-block;
      margin-right: 4px;
      line-height: 1;
      font-family: SimSun, serif;
      font-size: 14px;
      color: $error-color;
    }
  }

  // form-item-body
  &__item__body {
      line-height: $form-item-line-height;
      position: relative;
      font-size: $form-body-font-size;
      margin-left: $form-body-margin-left;
  }

  // form-item-message
  &__item__body__message {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    padding-top: 6px;
    padding-left: 6px;
    color: $error-color;
  }
}
