@import '../theme/vars';


@font-face {
  font-family: "iconfont";
  src: url('../../assets/iconfont/iconfont.eot');
  src: url('../../assets/iconfont/iconfont.eot#iefix') format('embedded-opentype'),
  url('../../assets/iconfont/iconfont.woff') format('woff'),
  url('../../assets/iconfont/iconfont.ttf') format('truetype'),
  url('../../assets/iconfont/iconfont.svg#iconfont') format('svg');
}

.h-icon {
  speak: none;
  font-family: iconfont, serif;
  font-size: $default-font-size;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
}

.h-icon__success:before {
  content: '\e6d0';
}

.h-icon__success-circle:before {
  content: '\e613';
}

.h-icon__warning-outline:before {
  content: '\e835';
}

.h-icon__warning-circle:before {
  content: '\e836';
}

.h-icon__info-circle:before {
  content: '\e63d';
}

.h-icon__info-outline:before {
  content: '\e608';
}

.h-icon__error-outline:before {
  content: '\e621';
}

.h-icon__error-circle:before {
  content: '\e60e';
}
