@import '../theme/vars';


$input-inner-height: 40px;
$input-inner-padding-vertical: 4px;
$input-inner-padding-horizontal: 15px;
$input-inner-font-size: 14px;
$input-inner-border-color: #dcdfe6;
$input-inner-border-radius: 4px;
$input-inner-font-color: $text-color;
$input-inner-background-color: #fff;
$input-inner-placeholder-color: #c5c8ce;
$input-inner-hover-color: #c0c4cc;
$input-inner-focus-color: #409eff;
$input-inner-disabled-background-color: #f5f7fa;
$input-inner-disabled-border-color: #e4e7ed;
$input-inner-disabled-color: $input-inner-hover-color;
$input-inner-disabled-placeholder-color: $input-inner-disabled-color;


.h-input {
  position: relative;
  font-size: $input-inner-font-size;
  display: inline-block;
  width: 100%;
  line-height: normal;
  vertical-align: middle;

  &__inner {
    width: 100%;
    -webkit-appearance: none;
    display: inline-block;
    resize: vertical;
    font-size: inherit;
    height: $input-inner-height;
    line-height: $line-height-base;
    padding: $input-inner-padding-vertical $input-inner-padding-horizontal;
    border: 1px solid $input-inner-border-color;
    border-radius: $input-inner-border-radius;
    color: $input-inner-font-color;
    background: $input-inner-background-color none;
    position: relative;
    cursor: text;
    outline: none;
    transition: all $transition-time cubic-bezier(.645, .045, .355, 1);

    &::placeholder {
      color: $input-inner-placeholder-color;
    }

    &:hover {
      border-color: $input-inner-hover-color;
    }

    &:focus, &:active {
      outline: none;
      border-color: $input-inner-focus-color;
    }

    &:disabled {
      background-color: $input-inner-disabled-background-color;
      border-color: $input-inner-disabled-border-color;
      color: $input-inner-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $input-inner-disabled-placeholder-color;
      }
    }
  }

  // validate-error input
  .h-form__item--error & {

    &__inner {
      border: 1px solid $error-color;

      &:hover {
        border-color: $error-color;
      }

      &:focus {
        border-color: $error-color;
        outline: 0;
        box-shadow: 0 0 5px 2px rgba($error-color, .2);
      }
    }

  }
}
