@import '../definitions';
@import '../mixins/common';


.h-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  background: $layout-main-background;

  &--has-aside {
    flex-direction: row;

    > .h-layout, > .h-layout__main {
      overflow-x: hidden;
    }
  }

  &--full-page {
    @include full-page;
  }

  &__header, &__footer {
    flex: 0 0 auto;
  }

  &__header {
    background: $layout-header-background;
    padding: $layout-header-padding;
    height: $layout-header-height;
    line-height: $layout-header-height;

    &--shadow {
      @include box-shadow;
    }
  }

  &__aside {
    transition: width $transition-time $ease-in-out;
    position: relative;
    background: $layout-aside-background;

    min-width: 0;

    &__children {
      height: 100%;
      padding-top: 0.1px;
      margin-top: -0.1px;

      & > * {
        overflow: hidden;
      }
    }

    &--shadow {
      @include box-shadow;
    }

    &--full-page {
      @include full-page;
    }
  }

  &__main {
    flex: auto;
    padding: $layout-main-padding;
  }

  &__footer {
    background: $layout-footer-background;
    padding: $layout-footer-padding;

    &--center {
      text-align: center;
    }

    &--bottom {
      > .h-layout__main {
        flex-grow: 1;
      }
    }
  }
}
