@import '../definitions';
@import '../mixins/common';


// layout container
.h-layout {
  flex: auto;
  display: flex;
  flex-direction: column;
  background: $layout-main-background;

  &__header, &__footer {
    flex: 0 0 auto;
  }
}

// layout has aside
.h-layout--has-aside {
  flex-direction: row;

  > .h-layout, > .h-layout__main {
    overflow-x: hidden;
  }
}

// full-page attrs
.h-layout--full-page,
.h-layout__aside--full-page {
  @include full-page;
}

// shadow attrs
.h-layout__header--shadow,
.h-layout__aside--shadow {
  @include box-shadow;
}

// header of layout
.h-layout__header {
  background: $layout-header-background;
  padding: $layout-header-padding;
  height: $layout-header-height;
  line-height: $layout-header-height;
}

// left aside of layout
.h-layout__aside {
  min-width: 0;
  position: relative;
  background: $layout-aside-background;
  transition: width $transition-time $ease-in-out, transform $transition-time linear;

  &__children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;

    & > * {
      overflow: hidden;
    }
  }
}

// main container of layout
.h-layout__main {
  flex: auto;
  padding: $layout-main-padding;
}

// footer of layout
.h-layout__footer {
  padding: $layout-footer-padding;
  background: $layout-footer-background;

  &--center {
    text-align: center;
  }

  &--bottom {
    > .h-layout__main {
      flex-grow: 1;
    }
  }
}
