// background color
$white-background-color             : #ffffff !default;
$undefined-color                    : #f5f7fa !default;
$light-background-color             : #eff1f4 !default;
$gray-background-color              : #4c5766 !default;
$dark-background-color              : #262d37 !default;
$black-background-color             : #000000 !default;


// foreground color
$font-color                         : #26425f !default;
