html {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .025);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    transition: all .5s;

    &:window-inactive {
      background: rgba(0, 0, 0, .05);
    }

    &:hover {
      background: rgba(0, 0, 0, .25);
    }

    &:active {
      background: rgba(0, 0, 0, .4);
    }
  }
}
