@mixin selection {
  &::selection {
    background: rgba(211, 211, 211, .55);
    color: rgb(230, 39, 57);
  }

  &::-moz-selection {
    background: rgba(211, 211, 211, .55);
    color: rgb(230, 39, 57);
  }
}
