// mixins for button
@import '../../theme/vars';


$button-font-weight: normal;
$button-line-height: 1.5;

$button-padding: 5px 15px 6px;
$button-font-size: 12px;
$button-border-radius: 5px;

$button-small-padding: 1px 7px 2px;
$button-small-font-size: 12px;
$button-small-border-radius: 5px;

$button-large-padding: 6px 15px;
$button-large-font-size: 14px;
$button-large-border-radius: 5px;

$button-disabled-color: #c5c8ce;
$button-disabled-background: $background-color;
$button-disabled-border: $border-color;

$button-default-color: $text-color;
$button-default-background: #fff;
$button-default-border: $border-color;

$button-dashed-color: $text-color;
$button-dashed-background: $background-color;
$button-dashed-border: $border-color;

$button-text-color: $text-color;
$button-text-background: transparent;
$button-text-border: transparent;


@mixin button-size($padding, $font-size, $radius) {
  padding: $padding;
  font-size: $font-size;
  border-radius: $radius;
}

@mixin button-base() {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $button-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: $button-line-height;
  user-select: none;
  transition: all $transition-time linear;
  @include button-size($button-padding, $button-font-size, $button-border-radius);

  &--small {
    @include button-size($button-small-padding, $button-small-font-size, $button-small-border-radius);
  }

  &--large {
    @include button-size($button-large-padding, $button-large-font-size, $button-large-border-radius);
  }

  > span {
    vertical-align: middle;
  }

  &, &:active, &:focus {
    outline: 0;
  }

  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
  }

  &.disabled, &[disabled] {
    cursor: $cursor-disabled;

    > * {
      pointer-events: none;
    }
  }
}

@mixin button-color($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

@mixin button-active-color($color) {
  &:focus {
    box-shadow: 0 0 5px 3px rgba($color, .2);
  }
}

@mixin button-variant($color, $background, $border) {
  @include button-color($color, $background, $border);

  &:hover {
    @include button-color(mix(white, $color, 20%), mix(white, $background, 20%), mix(white, $border, 20%))
  }

  &:active {
    // @TODO fix it
    @if $color != transparent {
      $color: mix(black, $color, 5%);
    }
    @if $background != transparent {
      $background: mix(black, $background, 5%);
    }
    @if $border != transparent {
      $border: mix(black, $border, 5%)
    }

    @include button-color($color, $background, $border)
  }

  &--disabled, &[disabled] {
    &, &:hover, &:focus, &:active, &.active {
      @include button-color($button-disabled-color, $button-disabled-background, $button-disabled-border);
    }
  }
}

@mixin button-default {
  @include button-variant($primary-color, white, $primary-color);
  @include button-color($button-default-color, $button-default-background, $button-default-border);

  @include button-active-color($primary-color);
}

@mixin button-primary {
  @include button-variant(white, $primary-color, $primary-color);
  @include button-active-color($primary-color);
}

@mixin button-dashed {
  @include button-variant($primary-color, $button-dashed-background, $primary-color);
  @include button-color($button-dashed-color, $button-dashed-background, $button-dashed-border);

  border-style: dashed;
}

@mixin button-text {
  @include button-variant($button-text-color, $button-text-background, $button-text-border);

  &[disabled] {
    &, &:hover, &:focus, &:active, &.active {
      @include button-color($button-disabled-color, $background-color, transparent);
    }
  }
}

@mixin button-success {
  @include button-variant(white, $success-color, $success-color);
  @include button-active-color($success-color);
}

@mixin button-warning {
  @include button-variant(white, $warning-color, $warning-color);
  @include button-active-color($warning-color);
}

@mixin button-danger {
  @include button-variant(white, $error-color, $error-color);
  @include button-active-color($error-color);
}
