// background color
$white-background-color   : white !default;
$undefined-color          : #f5f7fa !default;
$light-background-color   : #eff1f4 !default;
$gray-background-color    : #4c5766 !default;
$dark-background-color    : #262d37 !default;
$black-background-color   : black !default;
// foreground color
$font-color               : #26425f !default;


// scroller-bar
$scroller-bar-width       : 8px !default;
$scroller-bar-height      : $scroller-bar-width !default;
$scroller-bar-background  : $black-background-color !default;


// selection
$selection-background     : #308dfd !default;
$selection-foreground     : $white-background-color !default;
