// common utils
@import '../theme/vars';


// set container to full page
@mixin full-page {
  min-height: 100vh;
}

// add shadow to container
@mixin box-shadow(
  $x-offset: 0,
  $y-offset: 0,
  $blur-radius: 6px,
  $spread-radius: 0,
  $shadow-color: rgba($dark-background-color, .1)
) {
  box-shadow: $x-offset $y-offset $blur-radius $spread-radius $shadow-color;
}

// add shadows to container
@mixin box-shadows($shadow...) {
  box-shadow: $shadow;
}

@mixin disabled-pointer-events() {
  cursor: default;
  pointer-events: none;
}
